{% extends 'base.html' %}

{% block content %}

    <h2>Informacje o użytkowniku:</h2>
    <h1>
        <center>
            <div class="user-info">
                <div class="user-info-item">
                    <span class="user-info-label">Imię:</span>
                    <span class="user-info-value">{{ user.first_name }}</span>
                </div>
                <div class="user-info-item">
                    <span class="user-info-label">Nazwisko:</span>
                    <span class="user-info-value">{{ user.last_name }}</span>
                </div>
                <div class="user-info-item">
                    <span class="user-info-label">Email:</span>
                    <span class="user-info-value">{{ user.email }}</span>
                </div>
            </div>
        </center>
    </h1>
    <h2>Lista przekazanych darów:</h2>
    <!-- Niezabrane dary -->
    {% for donation in non_taken_donations %}
        <div class="user-info">
            <div class="user-info-item">
                <span class="user-info-label">Ilość worków:</span>
                <span class="user-info-value">{{ donation.quantity }}</span>
            </div>
            <div class="user-info-item">
                <span class="user-info-label">Organizacja:</span>
                <span class="user-info-value">{{ donation.institution }}</span>
            </div>
            <div class="user-info-item">
                <span class="user-info-label">Kategorie:</span>
                <span class="user-info-value">{% for category in donation.categories.all %} {{ category.name }}
                    ,{% endfor %}</span>
            </div>
            <div class="user-info-item">
                <span class="user-info-label">Data zabrania:</span>
                <span class="user-info-value">{{ donation.pick_up_date }}</span>
            </div>
            <form method="POST" action="{% url 'user-info' %}">
                {% csrf_token %}
                <input type="hidden" name="donation_id" value="{{ donation.id }}">
                {% if donation.is_taken %}
                    <input class="btn" type="submit" value="Niezabrane">
                {% else %}
                    <input class="btn" type="submit" value="Zabrane">
                {% endif %}
            </form>
        </div>
    {% endfor %}

    <!-- Zabrane dary -->
    <h2 style="color: gray;">Lista zabranych darów:</h2>
    {% for donation in taken_donations %}
        <div class="user-info" style="background-color: lightgrey;">
            <div class="user-info-item">
                <span class="user-info-label">Ilość worków:</span>
                <span class="user-info-value">{{ donation.quantity }}</span>
            </div>
            <div class="user-info-item">
                <span class="user-info-label">Organizacja:</span>
                <span class="user-info-value">{{ donation.institution }}</span>
            </div>
            <div class="user-info-item">
                <span class="user-info-label">Kategorie:</span>
                <span class="user-info-value">{% for category in donation.categories.all %} {{ category.name }}
                    ,{% endfor %}</span>
            </div>
            <div class="user-info-item">
                <span class="user-info-label">Data zabrania:</span>
                <span class="user-info-value">{{ donation.pick_up_date }}</span>
            </div>
            <form method="POST" action="{% url 'user-info' %}">
                {% csrf_token %}
                <input type="hidden" name="donation_id" value="{{ donation.id }}">
                {% if donation.is_taken %}
                    <input class="btn" type="submit" value="Niezabrane">
                {% else %}
                    <input class="btn" type="submit" value="Zabrane">
                {% endif %}
            </form>
        </div>
    {% endfor %}


{% endblock %}