<!-- SLIDE 3 -->
      <div class="help--slides" data-id="3">
        <p>Lorem ipsum dolor sit amet, his ocurreret persequeris ea, ad utinam laudem duo. Verterem adipisci partiendo eos ne, ea his reque quaeque recteque, ne quo lobortis intellegam.</p>
        <ul class="help--slides-items">
          <li>
            <div class="col">
              <div class="title">Lokalna zbiórka 1</div>
              <div class="subtitle">Lorem ipsum dolor sit amet consectetur.</div>
            </div>

            <div class="col"><div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div></div>
          </li>

          <li>
            <div class="col">
              <div class="title">Lokalna zbiórka 2</div>
              <div class="subtitle">Lorem ipsum dolor sit amet consectetur.</div>
            </div>

            <div class="col"><div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div></div>
          </li>
        </ul>

        <!-- Pagination
        <ul class="help--slides-pagination">
          <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="2">2</a></li>
        </ul>
        -->
      </div>
    