<!-- SLIDE 2 -->
<div class="help--slides" data-id="2">
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic officiis mollitia dolor, neque aspernatur
        accusamus debitis. Ducimus, officia. Quia, sunt illum! Non iste placeat ab ipsum alias
        quos suscipit corporis!
    </p>
    <ul class="help--slides-items">
        <ul class="help--slides-items">
            {% for institution in organizations_page %}
                <li>
                    <div class="col">
                        <div class="title">{{ institution.name }}</div>
                        <div class="subtitle">Cel i misja: {{ institution.description }}</div>
                    </div>

                    <div class="col">
                        {% for category in institution.category.all %}
                            <div class="text">{{ category.name }}</div>
                        {% endfor %}
                    </div>
                </li>

            {% endfor %}
        </ul>

        <div class="help--slides-pagination">
                <span class="step-links">
                    {% if organizations_page.has_previous %}
                        <a href="?page={{ organizations_page.previous_page_number }}">&laquo; previous</a>
                    {% endif %}
                    {% for i in organizations_page.paginator.page_range %}
                        {% if organizations_page.number == i %}
                            <span class="current">
                        {{ i }}
                    </span>
                        {% else %}
                            <a href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if organizations_page.has_next %}
                        <a href="?page={{ organizations_page.next_page_number }}">next &raquo;</a>
                    {% endif %}
                </span>
        </div>
</div>