<!-- SLIDE 1 -->
<div class="help--slides active" data-id="1">
    <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy. Możesz sprawdzić czym się
        zajmują, komu pomagają i czego potrzebują.</p>

    <ul class="help--slides-items">
        {% for institution in fundations_page %}
            <li>
                <div class="col">
                    <div class="title">{{ institution.name }}</div>
                    <div class="subtitle">Cel i misja: {{ institution.description }}</div>
                </div>
                <div class="col">
                    {% for category in institution.category.all %}
                        <div class="text">{{ category.name }}</div>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="help--slides-pagination" id="ajax-pagination">
                <span class="step-links">
                    {% if fundations_page.has_previous %}
                        <a href="?page={{ fundations_page.previous_page_number }}">&laquo; previous</a>
                    {% endif %}
                    {% for i in fundations_page.paginator.page_range %}
                        {% if fundations_page.number == i %}
                            <span class="current">
                        {{ i }}
                    </span>
                        {% else %}
                            <a href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if fundations_page.has_next %}
                        <a href="?page={{ fundations_page.next_page_number }}">next &raquo;</a>
                    {% endif %}
                </span>
    </div>

</div>


