<!-- SLIDE 3 -->
      <div class="help--slides" data-id="3">
        <p>Lorem ipsum dolor sit amet, his ocurreret persequeris ea, ad utinam laudem duo. Verterem adipisci partiendo eos ne, ea his reque quaeque recteque, ne quo lobortis intellegam.</p>
        <ul class="help--slides-items">
        <ul class="help--slides-items">
            {% for local in locals %}
                <li>
                    <div class="col">
                        <div class="title">{{ local.address }}</div>
                        <div class="subtitle">{{ local.city }}</div>
                        <div class="subtitle">{{ local.zip_code}}</div>
                    </div>

                    <div class="col">
                        <div class="text">{{ local.phone_number }}</div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <!-- Pagination
        <ul class="help--slides-pagination">
          <li><a href="#" class="btn btn--small btn--without-border active" data-page="1">1</a></li>
          <li><a href="#" class="btn btn--small btn--without-border" data-page="2">2</a></li>
        </ul>
        -->
      </div>
    